<div class="row">
    <div class="col-sm-12">
        <h3>Shopping List</h3>
        <h4>Recipe Name</h4>
        <ul>
            <li>
                <app-recipe-item></app-recipe-item>
            </li>
        </ul>
        <ul>
            <li>
                <app-recipe-item></app-recipe-item>
            </li>
        </ul>
        <ul>
            <li>
                <app-recipe-item></app-recipe-item>
            </li>
        </ul>
        <ul>
            <li>
                <app-recipe-item></app-recipe-item>
            </li>
        </ul>
    </div>
</div>